<!-- Pié de página -->
<footer class="footer text-faded text-center py-5">
    <div class="container">
        <p class="m-0">
            {% if github %}
            <a href="{{ github }}" class="link">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-github fa-stack-1x fa-inverse"></i>
            </span>
            </a>
            {% endif %}

            {% if linkedin %}
            <a href=" {{ linkedin }}" class="link">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
            </span>
            </a>
            {% endif %}

            {% if stack_overflow %}
            <a href="{{ stack_overflow }}" class="link">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-stack-overflow fa-stack-1x fa-inverse"></i>
            </span>
            </a>
            {% endif %}
        </p>
        <p class="m-0 mbt">
            <a href="{% url 'page' 1 %}" class="link">Política de privacidad</a> ·
            <a href="{% url 'page' 2 %}" class="link">Aviso legal</a> ·
            <a href="{% url 'page' 3 %}" class="link">Cookies</a>
        </p>
        <p class="m-0 mbt1">&copy; La Caffettiera 2018</p>
    </div>
</footer>